<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= components.header.component_options.title %></title>
  <link rel="stylesheet" type="text/css" href="<%= assets('/css/index.css') %>" />
</head>
<body>
  <div id="Wrapper">
    <%- include('components/header') %>
    <%- include('components/content') %>
    <%- include('components/footer') %>
  </div>

  <script type="text/javascript" language="JavaScript" src="<%= assets('/js/web-stories.js') %> "></script>
  <script type="text/javascript" language="JavaScript" src="<%= assets('/js/index.js') %> "></script>
</body>
</html>
